/* Global */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0ea5e9, #facc15, #f59e0b);
  background-size: 600% 600%;
  animation: gradientMove 15s ease infinite;
  color: #1f2937;
}
h1, h2, h3 {
  text-align: center;
  color: #0369a1;
}
